[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
imblearn = "*"
tqdm = "*"
python-levenshtein = "*"
tmdbsimple = "*"
ipykernel = "*"
diff-match-patch = "*"
nltk = "*"
pandas = "*"
graphviz = "*"
pydot = "*"
notebook = "*"
ipywidgets = "*"
pip = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
biopython = "*"

[dev-packages]

[requires]
python_version = "3.8"
